<?php xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <googletagmanager>
      <google_tag_manager>
        <gtm_active>0</gtm_active>
        <gtm_container_id>GTM-XXX</gtm_container_id>
      </google_tag_manager>
    </googletagmanager>
  </default>
</config>
