<?php xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <section id="googletagmanager" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
      <class>separator-top</class>
      <label>GoogleTagManager</label>
      <tab>mediadivision</tab>
      <resource>MediaDivision_GoogleTagManager::googletagmanager_config</resource>
      <group id="google_tag_manager" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
        <label>Google Tag Manager</label>
        <field id="gtm_active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Aktiv</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
          <comment>Google Tag Manager aktivieren?</comment>
        </field>
        <field id="gtm_container_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Container ID</label>
        </field>
      </group>
    </section>
  </system>
</config>
